@using u20576766_HW04.Models;
@model IEnumerable<u20576766_HW04.Models.Filemedia>
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="background-image: url(https://serving.photos.photobox.com/0311696806c430e12b4263587f14dca8e8a7522db115b93c2ef6bcbb7518b4f5ea647d2e.jpg); background-size:cover;">
    <h1 class="place name">WORLD WILDLIFE FUND</h1>
    <h5 class="place">Healthy oceans that benefit the planet, people, prosperity, and peace.</h5>
    <p class="lead exp place">
        WWF works to sustain the natural world for the benefit of people and wildlife, <br />
        collaborating with partners from local to global levels in nearly 100 countries.
    </p>
    <p class="place">
        <a class="btn btn-outline-dark" href="https://localhost:44321/About/About">Learn more</a>
    </p>
</div>
<br />
<br />
<div class="container place" style="background-color:aliceblue;border-radius:15px;padding:25px;">
    <h1>Overview</h1>
    <br />
    <div class="col-md">
        <p>
            The ocean is a planetary superpower. Home to spectacular ecosystems and treasured wildlife, the ocean covers 71% of our Earth’s surface and sustains
            the lives of billions of people. It regulates our climate, produces half the oxygen we breathe, and fuels the water cycle that produces rain and
            freshwater. Studies show that when ocean ecosystems are resilient, people nearby are more resilient too. A group of researchers looked at more than 100 studies to
            better understand the connection between marine protection and human health, and found that a majority of people realize the social, health, economic,
            governance, and ecological benefits from a healthy ocean. But those benefits are not guaranteed. After decades of overuse and pollution, these services are being interrupted. One out of three fish stocks is overfished. Hundreds of thousands of marine mammals, seabirds, and sea turtles are captured each year, along with tens
            of millions of sharks. Half of all coral reefs and mangroves are gone. We still have time to give the ocean the room it needs to be resilient in the face of growing threats. But we have to work together. WWF is
            prioritizing two pathways to build a more resilient ocean—We’re finding the solutions to fix broken global systems that lead to declines in nature
            while protecting those places that wildlife and people can’t live without.
        </p>
    </div>
</div>

<br />
<hr style="width:60%;" />
<br />


<div class="container news">
    <h3 class="place">News Feed</h3>
    <br />
    <div class="card-deck news">
        <div class="card">
            <div class="card-img card-img-top" style="height:315px; ">
                <iframe style="height:315px;width:inherit;box-shadow:none;" class="place" src="https://www.youtube.com/embed/gxCZQ0ri9iE" frameborder="0">
                </iframe>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h4>Protecting Our Life Support System: Challenges and Opportunities in Marine Conservation</h4>
                </div>
                <div class="card-text">
                    <p>
                        The world-renowned National Geographic Explorer in Residence Enric Sala launched the National Geographic Pristine Seas project in 2008
                        to explore and help inspire the protection of the last wild places in the ocean,
                        an absolutely critical last-ditch effort to prevent the complete unraveling of global marine ecosystems.
                    </p>
                    <p><i>Bioneers</i></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-img card-img-top" style="height:315px; ">
                <iframe style="height:315px;width:inherit;box-shadow:none;" class="place" src="https://www.youtube.com/embed/OJIHb0hi1xM" frameborder="0">
                </iframe>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h4>Tagging Whales Using Drones</h4>
                </div>
                <div class="card-text">
                    <p>
                        Ocean Alliance continues to find revolutionary ways to deploy drones to study the world’s oceans.
                        Their latest innovation sees a Matrice series Enterprise drone used to precisely drop tags on the backs of whales,
                        so researchers can study their behavior as they swim beneath the surface.
                    </p>
                    <p><i>Ocean Alliance</i></p>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="card-deck news">
        <div class="card">
            <div class="card-img card-img-top" style="height:315px; ">
                <iframe style="height:315px;width:inherit;box-shadow:none;" class="place" src="https://www.youtube.com/embed/dcBXmj1nMTQ" frameborder="0">
                </iframe>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h4>What Is Climate Change?</h4>
                </div>
                <div class="card-text">
                    <p>
                        Always a reminder!
                        Climate change is happening now, and even world leaders meeting for climate talks at this year’s Cop25 know we aren’t doing enough to stop it.
                        In fact, we’re going backwards.
                    </p>
                    <p><i>Al Jazeera English</i></p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-img card-img-top" style="height:315px; ">
                <iframe style="height:315px;width:inherit;box-shadow:none;" class="place" src="https://www.youtube.com/embed/GheSKPl27YY" frameborder="0">
                </iframe>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h4>Protecting Marine Animals from Stormwater Pollution</h4>
                </div>
                <div class="card-text">
                    <p>The SeaWorld Animal Rehabilitation Program has rescued and rehabilitated about 20,000 animals in the San Diego region.</p>
                    <p><i>City of San Diego</i></p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="row padding blocks news">
    <div class="col place opt1">
        <h4>EDUCATION</h4>
        <p>
            At WWF we pride ourselve in being informed about what we do and how to do it correctly and efficiently.
            There are certain criteria for certain positions, but we make sure there is a place for every one.
        </p>
        <p><a class="btn btn-outline-light" href="https://localhost:44321/Aim/Aim">Learn more &raquo;</a></p>
    </div>
    <div class="col place opt2">
        <h4>TRAINING</h4>
        <p>
            Where you are fully trained for a 6 month period on the processes and methods used at WWF so you can have the skill to work in the field.
        </p>
        <p><a class="btn btn-outline-light" href="https://localhost:44321/Aim/Aim">Learn more &raquo;</a></p>
    </div>
    <div class="col place opt3">
        <h4>FIELD</h4>
        <p>You can easily find a place and passion of your own at WWF once you have been informed of all the different potions you can contribute in.</p>
        <p><a class="btn btn-outline-light" href="https://localhost:44321/Aim/Aim">Learn more &raquo;</a></p>
    </div>
</div>
<br />
<br />

<div class=" container place">
    <h3>Use Case Narrative & Class Diagram</h3>
    <br />
    <div class="card-columns">
        @foreach (var Filemedia in Model)
        {
            <div class="card">
                <a class="gallery" href="~/Media/Adopt/@Filemedia.FileName">
                    <img class="card-img-top card-img" src="~/Media/UseCaseNarr/@Filemedia.FileName" />
                </a>
            </div>
        }
    </div>
</div>

<br />
<br />
<div class="place">
    <h6>Interested in buying our merch?</h6>
    <h6>Visit our <a href="https://localhost:44321/Merchandise/Merchandise">Shop</a> page or go visit one of our local offices.</h6>
</div>


