
@{
    ViewBag.Title = "Aim";
}
<br />
<br />
<br />
<h1 style="padding-left: 5px; text-align: center; color: gold;">OUR WORK</h1>
<hr class="place" style="width:80%" />
<br />
<br />
<div class="place">
    <img style="width: 220px; height: 200px; border: 10px double gold;border-radius:300px;" src="~/Media/Images/e.jpg" />
    &nbsp;
    <img style="width: 320px; height: 300px; border: 10px double gold;border-radius:300px;" src="~/Media/Images/h.jpg" />
    &nbsp;
    <img style="width: 220px; height: 200px; border: 10px double gold;border-radius:300px;" src="~/Media/Images/g.jpg" />
</div>
<br />
<div style="background-color:palegoldenrod; border-radius:15px;">
    <div class="container place" style="padding: 40px;">
        <h2 class="place" style="color:gold;font-family:Quicksand;">PEOPLE</h2>
        &nbsp;
        &nbsp;
        <p style="font-family:'Segoe UI';">
            People depend on the natural world—its forests, fisheries and wildlife—for their ways of life. Conserving species, protecting habitats,
            and keeping our climate and environment healthy is good for all of us.

            WWF's commitment to conservation means working in some of the most challenging places on Earth. Places where the protection of nature and its
            benefits for people can be an anchor for stability and opportunity.

            WWF has long understood that the people who live in the places we work are critical leaders in conservation. Over time, our work with people has
            supported community efforts and led to transformative social and environmental results. This is a socially inclusive conservation approach. Together,
            we find practical and beneficial ways for both people and nature to thrive.
        </p>
    </div>

    <hr class="place" style="width:60%" />

    <div class="container place" style="padding: 40px;">
        <h2 class="place" style="color:gold;font-family:Quicksand;">PLACES</h2>
        &nbsp;
        &nbsp;
        <p style="font-family:'Segoe UI';">
            FROM RAIN FORESTS TO REEFS

            WWF works to protect these places based on the wealth and variety of life they support, the destructive challenges they face, and our ability to
            positively impact them. From the Arctic to the Eastern Himalayas, WWF works on every continent to halt and reverse declines in wildlife numbers and the unsustainable use of
            our natural resources. By working with partners on local and global levels, WWF aims to conserve many of the world’s most ecologically important
            regions. In Namibia, we’ve supported a new approach to protect wildlife and habitat—communal conservancies. To save tigers, WWF works with the governments of
            the 13 nations that are home to wild tigers to commit to doubling tiger populations. Our work focuses on the most extraordinary habitats to ensure
            people and nature together can thrive.
        </p>
        <br />
        <div class="card-deck">
            <div class="card" style="padding:20px;border-color:yellowgreen;">
                <div class="card-title">
                    <h4>Oceans</h4>
                </div>
                <div class="card-text">
                    Ensuring resilient and productive oceans that support rich biodiversity, food security, and sustainable livelihoods
                </div>
            </div>
            <div class="card" style="padding: 20px; border-color: yellowgreen;">
                <div class="card-title">
                    <h4>Forests</h4>
                </div>
                <div class="card-text">
                    Conserving the world's most important forests to sustain nature's diversity, benefit our climate, and support human well-being
                </div>
            </div>
            <div class="card" style="padding: 20px; border-color: yellowgreen;">
                <div class="card-title">
                    <h4>Freshwater</h4>
                </div>
                <div class="card-text">
                    Safeguarding the world’s freshwater resources and landscapes to support biodiversity and human livelihoods
                </div>
            </div>

        </div>
    </div>

    <hr class="place" style="width:60%" />

    <div class="container place" style="padding: 40px;">
        <h2 class="place" style="color:gold;font-family:Quicksand;">SPECIES</h2>
        &nbsp;
        &nbsp;
        <p style="font-family:'Segoe UI';">
            PROTECTING WILDLIFE FOR A HEALTHY PLANET
            WWF works in unity with many to achieve lasting conservation results. Together, we can protect and restore species and their habitats.
            We protect wildlife because they inspire us. But we also focus our efforts on those species—like whales and marine turtles—whose
            protection influences and supports the survival of other species or offers the opportunity to protect whole landscapes or marine areas.
        </p>
    </div>

    <hr class="place" style="width:60%" />

    <div class="container place" style="padding: 40px;">
        <h2 class="place" style="color:gold;font-family:Quicksand;">CLIMATE CRISIS</h2>
        &nbsp;
        &nbsp;
        <p style="font-family:'Segoe UI';">
            Our world is changing faster than anyone predicted. Already, freshwater supplies are shrinking, agricultural yields are dropping, our forests are
            burning, and rising oceans are more acidic—all, in part, due to a warming climate. As our natural world changes around us, so does our way of life.
            Coastal home values drop as insurance premiums rise; drought reduces feed for American farmers’ cattle and water for their crops; more pollen and dust
            in the air aggravates asthma and allergies in kids and adults alike. At WWF, we believe we can fight this consequential threat and build a safer,
            healthier and more resilient future for people and nature. We must rethink the way we produce and consume energy, food, and water; protect the world’s
            forests; and help people prepare for a changing world. Achieving this future will require action by everyone, and we are already well on our way.
            People are using their collective voices to demand change. Businesses are making investments in clean energy, already creating local jobs and stronger
            economies. Communities are redesigning their roads, buildings, airports, and railroads to make them climate resilient. And nations around the world
            are committed to delivering on a landmark global plan to curb climate change, known as the Paris Agreement. For decades, WWF has engaged with millions of Americans, leading businesses, and government leaders to prepare for inevitable change and reduce the emissions that drive climate change.
        </p>
    </div>

    <hr class="place" style="width:60%" />

    <div class="container place" style="padding: 40px;">
        <h2 class="place" style="color:gold;font-family:Quicksand;">SUSTAINABILITY</h2>
        &nbsp;
        &nbsp;
        <p style="font-family:'Segoe UI';">
            The Earth is home to a vast trove of natural resources, including air, water, soil, plants, animals, minerals, and land, that together allow humans to
            live and thrive. However, in our brief time on the planet, humans have overused these resources—clearing forests and grasslands, burning fossil fuels,
            and destroying ecosystems—with devastating impacts on the long-term health of our planet. But there is another way: WWF believes people can both
            prosper and use the planet’s resources in a sustainable way—balancing basic human needs with the need to conserve the natural environment. A
            sustainable future ensures we stay within the limits of the planet and provides a strong quality of life for generations to come.
        </p>
        <br />
        <br />
        <div class="row padding blocks news">
            <div class="col place opt1">
                <h4>Food</h4>
                <p>
                    Growing demands on land and water for food production are exceeding what the Earth can provide. But WWF knows food can be produced in a way that
                    works with nature, not against it. We work to create nature positive food systems that feed people and animals and protect nature, now and in the
                    future. Nature positive food production keeps soil healthy, water flowing, helps store carbon, and provides homes for a range of biodiversity, both above and below the ground.
                </p>
                <p><a class="btn btn-outline-light" href="https://www.worldwildlife.org/initiatives/food">Learn more &raquo;</a></p>
            </div>
            <div class="col place opt2">
                <h4>Infrastructure</h4>
                <p>
                    By 2030, the amount of infrastructure on Earth could double and significantly alter or damage the natural systems we depend upon. Poor planning,
                    especially for projects in pristine environments, often impacts vulnerable indigenous and local communities. We must make wise choices about what
                    we build and where, involve all those likely to be affected, and pursue sustainably.
                </p>
                <p><a class="btn btn-outline-light" href="https://www.worldwildlife.org/threats/infrastructure">Learn more &raquo;</a></p>
            </div>
            <div class="col place opt3">
                <h4>Corporate sustainability</h4>
                <p>
                    WWF works with companies at all stages of their sustainability journey, from reducing the environmental impact of their operations to investing in
                    conservation globally and advocating for climate and nature. Together, we work toward solutions that make a positive impact on places and species.
                    We set a high sustainability standard when working with business because a healthy business needs a healthy planet..
                </p>
                <p><a class="btn btn-outline-light" href="https://www.worldwildlife.org/business">Learn more &raquo;</a></p>
            </div>
            <br />
        </div>
    </div>
</div>
