
@{
    ViewBag.Title = "Contact Us";
}
<br />
<br />
<br />
<h1 style="padding-left: 5px; text-align: center; color: #3498DB;">Contact Us</h1>
<hr class="place" style="width:80%" />
<br />
<div class="row" style="padding-bottom:100px;">
    <div class="col-md-7 padding" style="padding-top:60px;padding-left:80px;padding-bottom:10px;">
        <div class="place">
            <p class="padding place" style="font-family:Garamond;">
                If you'd like to get to know our foundation more. Below provided is our physical addresses, if you wish to make a visit in person.
                Our email addresses and our telephone lines. We encourage you reach out and be involved in our work if you wish to assist.<br />We'd like to hear from you.
            </p>
        </div>
        &nbsp;
        <div class="place" style="background-color: paleturquoise; padding:60px;border-radius:15px;font-family:Quicksand;">
            <a style="text-decoration:none;" href="https://www.maps.google.com" target="_blank">
                <b>US Headquarters</b>
                <br />
                World Wildlife Fund
                1250 24th Street, N.W.
                Washington, DC 20037-1193
            </a>
            <br />
            <a style="text-decoration:none;" href="https://www.maps.google.com" target="_blank">
                <b>Postal Address</b>
                <br />
                P.O. Box 97180
                Washington, DC 20090-7180
                (202) 293-4800
            </a>
            <br />
            <a style="text-decoration:none;" href="https://www.maps.google.com" target="_blank">
                <b>WWF International, Gland</b>
                <br />
                Av. du Mont-Blanc 1196 Gland
                Switzerland
                +41 22 364 91 11
                <br />
                +41 22 364 88 36
            </a>
            <br />
            <br />
            <a style="text-decoration:none;" href="mailto:membership@wwfus.org" target="_blank">
                membership@wwfus.org
            </a> <br />
            <label id="telPhone" onclick="copyText()" data-toggle="tooltip" data-placement="bottom" title="Copy">
                1-800-960-0993
            </label>
        </div>
    </div>
    
    <div class="col-sm-4" style="padding-top: 10px; border-bottom: 60px;padding-left:40px; ">
        <br />
        <br />
        <h6 style="text-align:center;">Send Us Your Queries</h6>
        &nbsp;
        <form method="post">
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" autocomplete="off" placeholder="John" name="fname" class="form-control" required />
                        </div>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="flast">Last Name</label>
                            <input type="text" autocomplete="off" placeholder="Doe" name="flast" class="form-control" required />
                        </div>
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <label for="fname">Email</label>
                <input type="email" autocomplete="off" placeholder="email@example.com" name="eMail" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="fmess">Message</label>
                <textarea type="text" autocomplete="off" placeholder="Hello" name="fmess" class="form-control" required rows="6"></textarea>
            </div>
            <input type="submit" value="Send" class="btn btn-primary" />
        </form>
    </div>
</div>

@{ 
    if (IsPost)
    {
        var fname = Request["fname"];
        var lname = Request["flast"];
        var mail = Request["eMail"];
        var message = Request["fmess"];

        var query = lname + " ," + fname + " (" + mail + ")" + Environment.NewLine + message + Environment.NewLine + Environment.NewLine;
        var comment = Server.MapPath("~/Media/Queries/Queries.txt");
        File.AppendAllText(comment, query);

    }
}

