
@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<h1 style="padding-left:5px;text-align:center;color:mediumaquamarine;">About World Wildlife Fund</h1>
<hr class="place" style="width:60%" />
<br />
<br />
<div class="place">
        <img style="width: 220px; height: 200px; border: 10px double mediumaquamarine;border-radius:300px;" src="~/Media/Images/e.jpg" />
        &nbsp;
        <img style="width: 320px; height: 300px; border: 10px double mediumaquamarine;border-radius:300px;" src="~/Media/Images/h.jpg" />
        &nbsp;
        <img style="width: 220px; height: 200px; border: 10px double mediumaquamarine;border-radius:300px;" src="~/Media/Images/g.jpg" />
    </div>
<br />
&nbsp;

<div style="background-color:lightblue; border-radius:20px;">
    <div class="container place" style="padding: 40px;">
        <h2 class="place" style="color:darkcyan;font-family:Quicksand;">Our Values</h2>
        &nbsp;
        &nbsp;
        <p style="font-family:'Segoe UI';">
            We bear witness to the accelerating decline of nature and our climate, with serious consequences for life on Earth, including our own.
            Our vision is to build a future in which people live in harmony with nature. To deliver this mission, we work to conserve and restore biodiversity,
            the web that supports all life on Earth; to reduce humanity’s environmental footprint; and to ensure the sustainable use of natural resources to
            support current and future generations. We celebrate and respect diversity in nature and among the people, partners, and communities with whom we work. Across the many cultures and individuals that represent WWF, we are unified by one mission, one brand, and one common set of values:
            <br />
            <div style="text-align:left;">
                <b>Courage:</b> We demonstrate courage through our actions, we work for change where it’s needed, and we inspire people and institutions to tackle the greatest threats to nature and the future of the planet, which is our home.
                <br /><b>Integrity:</b> We live the principles we call on others to meet. We act with integrity, accountability and transparency, and we rely on facts and science to guide us and to ensure we learn and evolve.
                <br /><b>Respect:</b> We honor the voices and knowledge of the people and communities that we serve, and we work to secure their rights to a sustainable future.
                <br /><b>Collaboration:</b> We deliver impact at the scale of the challenges we face through the power of collective action and innovation.
            </div>
        </p>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-4">
                <h5 style="font-weight: bold; font-family: Quicksand; ">Ethics</h5>
                <p style="font-family:'Segoe UI';">
                    WWF is committed to a culture which allows people to safely raise concerns of inappropriate conduct by employees of WWF, its partners,
                    and people associated with WWF, without fear of reprisals. Likewise, local communities or individuals from those communities who believe
                    they are negatively impacted by WWF’s activities are welcome to send their concerns. Complaints may be submitted in the complainant’s
                    native language, to the local WWF office or to our EthicsPoint reporting line.
                </p>&nbsp;
            </div>
            <br />
            <div class="col-sm-4">
                <h5 style="font-weight: bold; font-family: Quicksand; ">Commitment To Integrity And Good Conduct</h5>
                <p style="font-family:'Segoe UI';">
                    WWF commits to the highest standards of professionalism, integrity and ethics in our workplace and in our activities.
                    These commitments are fundamental to creating effective, lasting and equitable solutions to today’s environmental challenges.

                    The full commitments are available here.
                </p>&nbsp;
            </div>
            <br />
            <br />
            <div class="col-sm-4">
                <h5 style="font-weight: bold; font-family: Quicksand; ">Commitment To Independence</h5>
                <p style="font-family:'Segoe UI';">
                    World Wildlife Fund, Inc. (WWF-US) is a U.S. public charity whose mission is to leverage sound science to conserve nature and reduce the most
                    pressing threats to the diversity of life on Earth. We are an independent organization overseen by a Board of Directors with expertise in science,
                    conservation, finance, and public policy, who volunteer their time and service.

                    All actions, undertakings, and positions of WWF-US are determined by the organization alone. WWF does not operate as an agent or
                    representative for any funder and does not accept funding from any source that could compromise our independence.

                    WWF-US undertakes certain limited efforts to influence public policy to save nature, in furtherance of our mission and in accord with all
                    applicable laws and regulations. WWF-US’s advocacy efforts are determined and undertaken independently, represent no party other than ourselves,
                    and are fully disclosed as required.
                </p>&nbsp;
            </div>
        </div>
    </div>

    <hr class="place" style="width:60%" />

    <div class="container place" style="background-color:white;border-radius:5px;padding:40px;">
        <h2 class="place" style="color:darkcyan;font-family:Quicksand;">Who Are We</h2>
        <p style="font-family:'Segoe UI';">
            For 60 years, WWF has worked to help people and nature thrive.

            As the world’s leading conservation organization, WWF works in nearly 100 countries. At every level, we collaborate with people around the world to
            develop and deliver innovative solutions that protect communities, wildlife, and the places in which they live.

            <hr class="place" style="width:30%" />

            <h5>HOW WE WORK</h5>
            <b>For Nature, For People, Forever</b>
            WWF works to help local communities conserve the natural resources they depend upon; transform markets and policies toward sustainability; and protect
            and restore species and their habitats. Our efforts ensure that the value of nature is reflected in decision-making from a local to a global scale.

            WWF connects cutting-edge conservation science with the collective power of our partners in the field, more than 1.3 million supporters in the United
            States and 5 million globally, and our partnerships with communities, companies, and governments.

            Today, human activities put more pressure on nature than ever before, but it’s also humans who have the power to change this trajectory. Together,
            we can address the greatest threats to life on this planet and protect the natural resources that sustain and inspire us.

            To get more information visit <a href="https://www.worldwildlife.org/about/">Who We Are</a>.
        </p>
    </div>
    <br />
    <hr class="place" style="width:60%" />
    <br />

    <div class="container place" style="padding: 40px;">
        <h2 class="place" style="color:darkcyan;font-family:Quicksand;">Our History</h2>
        <p style="font-family:'Segoe UI';">
            WWF was established in 1961 by a group of passionate and committed individuals who sought to secure the funding necessary to protect places and species
            that were threatened by human development.

            Inspired by a series of articles in a UK newspaper written by Sir Julian Huxley about the destruction of habitat and wildlife in East Africa,
            businessman Victor Stolan pointed out the urgent need for an international organization to raise funds for conservation. The idea was then shared with
            Max Nicholson, Director General of British government agency Nature Conservancy, who enthusiastically took up the challenge.

            Nicholson was motivated in part by the financial difficulties facing the International Union for Conservation of Nature (IUCN), and felt that a new
            fundraising initiative might help IUCN and other conservation groups carry out their mission. He drafted a plan in April 1961 that served as a basis
            for WWF’s founding, which was then endorsed by the executive board of IUCN in a document known as the Morges Manifesto.

            Nicholson and approximately two dozen other individuals –including Sir Peter Scott, a member of IUCN’s executive board who had signed the Morges
            Manifesto and later became WWF’s first vice president – hammered out the details of the new organization in a series of meetings over the following
            months. This included choosing the name World Wildlife Fund and adopting the now-famous panda logo.

            The first three “national appeals” (now called national organizations) were also established in 1961 in the United Kingdom, Switzerland, and the United
            States. Since then, WWF-US has grown to include over 1 million supporters and has helped lead conservation projects in Alaska, the Northern Great
            Plains, and around the world.

            To know more details about our history visit <a href="https://www.worldwildlife.org/about/history">History</a>.
        </p>
    </div>

    <br />
    <hr class="place" style="width:60%" />
    <br />

    <div class="container place" style="background-color:white;border-radius:5px;padding:40px;">
        <h2 class="place" style="color:darkcyan;font-family:Quicksand;">Leadership</h2>
        &nbsp;
        &nbsp;
        <p style="font-size:small;font-family:'Segoe UI';">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="border:none;">
                        <div class="card-img card-img-top">
                            <img src="https://files.worldwildlife.org/wwfcmsprod/images/Carter_Roberts_2015_DEB23624_mini.jpg/card_three_col/2az3mdam6s_Carter_Roberts_2015_DEB23624_mini.jpg" />
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h6>Carter Roberts  </h6>
                                <i style="font-size:small">President & CEO</i>
                            </div>
                            <div class="card-text">
                                <p style="font-family:'Segoe UI';">
                                    "...People look to WWF and its leadership to bring imagination and perseverance to the important work of conservation, and to build
                                    bridges between government, civil society and business in devising solutions at the scale of the challenges we face.
                                    The world demands no less of us...."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="col-md">
                    As a nonprofit organization, WWF deeply values the trust that has been placed in us. Partners trust us to carry out joint projects; governments and
                    private entities trust our science and ability to create solutions that serve nature and people; and donors trust us to use their funds to advance
                    conservation. To safeguard this critical trust, WWF is committed to best practices in governance, accountability and transparency. This commitment
                    exists at all levels of the organization.
                    <br />&nbsp;
                    <br />
                    <h5>Board Of Directors</h5>
                    <b>Board Policy Statement</b>
                    Composed of leaders from the scientific, conservation and business communities, the WWF board of directors exercises overall responsibility for the
                    policies, programs and direction of World Wildlife Fund and provides advice and counsel on a broad range of policy and operational matters.
                    The composition of the board, whose members are elected for three-year terms, is chosen to reflect a broad range of scientific and other expertise,
                    with all members having a strong and demonstrated commitment to nature conservation. Board members observe and annually sign WWF's conflict of
                    interest policy.

                    To see all our people and contributers visit <a href="https://www.worldwildlife.org/about/leadership">Leadership</a> to know more.
                </div>
            </div>
        </p>
    </div>

    <br />
    <hr class="place" style="width:60%" />
    <br />

    <div class="container place" style="padding: 40px;">
        <h2 class="place" style="color:darkcyan;font-family:Quicksand;">Our Experts</h2>
        <p style="font-family:'Segoe UI';">
            Science, commitment, passion and hope are all essential to protect the future of nature. No strategy will succeed without the relentless commitment
            of extraordinary people. The strengths of WWF's amazing, dedicated and passionate people have created some of the planet's greatest conservation
            victories. We will achieve our ambitious goals through the efforts of WWF's incredible team of scientists, biologists and policy makers.

            To know more about our ocean experts visit <a href="https://www.worldwildlife.org/experts/directory/oceans">Ocean Experts</a>.
        </p>
    </div>

</div>
