
@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<h1 style="padding-left:5px;text-align:center;color:mediumaquamarine;">About Purpose</h1>
<hr class="place" style="width:60%" />
<br />
<div class="place">
    <img style="width: 220px; height: 200px; border: 10px double mediumaquamarine;border-radius:300px;" src="~/Media/Images/e.jpg" />
    &nbsp;
    <img style="width: 320px; height: 300px; border: 10px double mediumaquamarine;border-radius:300px;" src="~/Media/Images/h.jpg" />
    &nbsp;
    <img style="width: 220px; height: 200px; border: 10px double mediumaquamarine;border-radius:300px;" src="~/Media/Images/g.jpg" />
</div>
<br />
&nbsp;

<div class="container place" style="background-color:aliceblue;border-radius:5px;padding:40px;">
    <h3 class="place" style="color:darkcyan;font-family:Quicksand;">What is PURPOSE?</h3>
    <p style="font-size:small;font-family:'Segoe UI';">
        Purpose is a Non Profit Organization that aims to preserve, save and increase marine life expetency.
        It is an organization that tries to build against the effects of Climate Change to enable sea life growth and also protect endangered marine species.
        We are not only looking out for sea and ocean life, but also fresh water life, the cleanliness of its environment and the growth of a habitable ecosystem that different species can coexist in.
        By taking care of these animals and making sure they are well and are growing progressively towards a healthy population that continues to effect our planet for the better.
        For this goal of ours to succeed we use innovative technology to solve researche proven solutions or creating new methods for old processes. With a loving team such as ours, we have reached many successes over the years that have proved fruitful for our cause.
        Each and every employee acknowledges their mission and goal, knowing they in turn are valued and their safety is always first. We appreciate their work and efforts to bring more stability in our waters.
        Making fishes very happy is our largest accomplishment thus far.
        Check our @Html.ActionLink("Process & Aim", "Aim", "Aim") page to know more about our methods, aims and how we run things.
    </p>
</div>
<br />
<br />

<div class="container place" style="background-color:#bbdefb;border-radius:5px;padding:40px;">
    <h3 class="place" style="color:darkcyan;font-family:Quicksand;">What is our relationship to the SDGS?</h3>
    &nbsp;
    <div class="place">
        <img style="width:200px;height:200px;" src="~/Media/Images/sdg.png" />
    </div>
    &nbsp;
    <p style="font-size:small;font-family:'Segoe UI';">
        Our organization focuses on marine life which is in line with the SDG 14, Life Below Water.
        The <a style="text-decoration-line:none;" href="https://sdgs.un.org/goals">Sustainable Development Goals (SDGS)</a> are goals set by the Division of Sustainable Development Goals (DSDG). It is a set of goals that are set to be met to maintain the correct developments in contries.
        These development must be in line with these goal to create an acceptable environment for all living creatures.
        The goals were designed to be blueprints to achieve a better and more sustainable future for all. They address global challenge and urge the global population to acknowledge them when developing their infrastruture.
        The Division sets up agenda for periods of time. These agenda are excuted throughout the year and report is written up to have record of the progress. Here available is the <a style="text-decoration-line:none;" href=" https://sustainabledevelopment.un.org/content/documents/21252030%20Agenda%20for%20Sustainable%20Development%20web.pdf">2023 Agenda</a>
        and the <a style="text-decoration-line:none;" href=" https://unstats.un.org/sdgs/report/2021/The-Sustainable-Development-Goals-Report-2021.pdf">2021 Report</a>.
        For more information, see their website linked in the full name above. For more information on our main goal, visit <a style="text-decoration-line:none;" href="https://www.un.org/sustainabledevelopment/wp-content/uploads/2019/07/14+Why-it-Matters-2020.pdf">SDG 14 Life Below Water</a>.
    </p>
</div>
<br />
<br />

<div class="container place" style="padding: 40px;">
    <h3 class="place" style="color:darkcyan;font-family:Quicksand;">What do we stand for?</h3>
    &nbsp;
    &nbsp;
    <div class="row">
        <div class="col-sm-4" >
            <img style="width:100px; height:100px;" src="~/Media/Images/protect.png" />
            <h6>Preservation and Protection</h6>
            <p style="font-size:small;font-family:'Segoe UI';">
                We look to preserving marine life, especially endangered species that are being poached and inadvertedly dying due to pollution in our waters.
                We protect these animals by making sure their area of living is known and that people acknowledge that they are in a specific territory.
                Not only are we protecting animals, we are also protecting people. Some sea and fresh water creatures are dangerous. Therefore, people have to know
                that a specific area in water or a specific body of water is inhabited by these animals.
            </p>&nbsp;
        </div>
        <br />
        <div class="col-sm-4">
            <img style="width:100px; height:100px;" src="~/Media/Images/nurture.png" />
            <h6>Livelihood and Nurturance</h6>
            <p style="font-size:small;font-family:'Segoe UI';">
                We aim to make marine life happy. Most animals in this case love attention and care from humans, as long as they do not feel that they pose a threat towards them and their territory.
                In doing this, we keep them entertained and also sharpen their perspectives of human interactions. We want them to feel safe around our oceans. We employ scuba divers in our foundation
                who have experience and know how to safely interact with the beings. We apply kindness and nurturance to our ojectives because we do not know what these creature have been through,
                so we in turn must show them love and care in every manner we can when interacting with them.
            </p>&nbsp;
        </div>
        <br />
        <div class="col-sm-4">
            <img style="width:100px; height:100px;" src="~/Media/Images/save.png" />
            <h6>Safety and Security</h6>
            <p style="font-size:small;font-family:'Segoe UI';">
                One of the most unfortunate curcumstances that effect marine life badly is pollution. We try our uttermost best to decrease pollution in the ocean and offer stafety and security to our animals.
                One aspect that makes matters hard is poaching in our oceans. We have patrol systems that work on checking for any disturbances within the ecosystem and its animals.
                Food security is another concept that we tackle for these creatures, to make sure that thye consume food that is not contaminated by pollution, especially with the problem of plastic waste that is consistantly increasing
                and harming animals in water. All in all, we advocate for the safety and security of these animals under circumstances that they cannot protect themselves against.

            </p>&nbsp;
        </div>
    </div>
</div>
<br />
<br />

<div class="container place" style="padding: 40px;">
    <h3 class="place" style="color:darkcyan;font-family:Quicksand;">Our People</h3>
    <div class="card-deck">
        <div class="card">
            <div class="card-img card-img-top">

            </div>
            <div class="card-body">
                <div class="card-title">
                    <h6>Dr Siphesihle Nkosi  </h6>
                    <i style="font-size:small">CEO</i>
                </div>
                <div class="card-text">
                    <p style="font-size:small;font-family:'Segoe UI';">
                        "...When I started this foundation I had a passion for marine life preservation and I am so glad my passion was equally matched by the people I work with and I know it is in the 
                        safe hands of my team and beneficiaries. There was a lot of fear and apprehension when starting the foundation, but I found motivation in the live that we touched and the people that I was working with. 
                        We never gave up. We were consistant and hard working till we succeeded. I'd like to thank them all. Without them, the miracles that they perform and how they do them, we would not have gotten this far..."
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-img card-img-top">

            </div>
            <div class="card-body">
                <div class="card-title">
                    <h6>Dr Katlego Mcena </h6>
                    <i style="font-size:small">Head Biologist & Scuba Diver</i>
                </div>
                <div class="card-text">
                    <p style="font-size:small;font-family:'Segoe UI';">
                        "...when Dr Nkosi called me and asked me to be a part of this foundation I was excited but at the same scared
                        of it not succeeding. But with the amount of work we put in and the positive feedback we obtained from the public, it flourished.
                        I am proud and honored to be part of this foundation. This is reason I am a Biologist, affecting lives like this..."
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-img card-img-top">

            </div>
            <div class="card-body">
                <div class="card-title">
                    <h6>Ms Pepper McFawley </h6>
                    <i style="font-size:small">Caretaker</i>
                </div>
                <div class="card-text">
                    <p style="font-size:small;font-family:'Segoe UI';">
                        "...one of the things that make me happy is seeing Otters swimming and caring for their young. I realised that it wasn't the only sea creature
                        I'd like to see happy and cared for. I joined Purpose to make these animals healthy and happy, and so far I have fulfilled my mission and continue to do so daily.
                        Nothing beats seeing their happy faces during playtime or feeding time. This is my passion and I am glad I could spread it using a foundation like Purpose..."
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
